*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dv{
    border: 4px solid grey;
    background-color:rgba(128, 128, 128, 0.329);
    border: none;
    width: 350px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#chd{
    height: 100%;
    width: 0%;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



@keyframes loading{
    from{
        
        background-color: blue;
    }

    

    to{
        width: 100%;
        background-color:blue;
        
    }
}