@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family:ARIMO;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(18,29,38,255);
}

#txt{
    
    display: flex;
    flex-direction: row;
    
}

#txt img{
    position: relative;
    width: 70px;
    bottom: 65px;
    left: 80px;
}

#txt h1{
    position: fixed;
    color: white;
    bottom: 430px;
    left: 760px;
    font-size: 65px;
}

#txt p{
    position: relative;
   color: greenyellow;
   bottom: 40px;
   left: 290px;
   font-size: small;
  
}

#fr{
    border: 3px solid white;
    width: 300px;
    height: 17px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}


#sec{
    height: 100%;
    width: 0%;
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes load{
    from{
        background-color: white;
    }

    to{
        width: 100%;
        background-color: white;
    }
}

#tx2 p{
    position: relative;
    top: 55px;
    right: 300px;
    font-size: larger;
    color: whitesmoke;
    font-weight: 600;
    
}

#tx2 h5{
    position: relative;
    top: 35px;
    right: 120px;
    color:white;
}