

div{
    position: relative;
    border: 3px solid black;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    
}


@keyframes loading{
    20%{
        
        background-color: green;
        width: 20%;

    }

    50%{
        
        background-color: lightgreen;
        width: 50%;

    }

    100%{
        background-color: greenyellow;
        width: 100%;
    }

}

#dv2:hover{
    animation:loading;
    animation-duration: 2s;
}

#dv2 h1{
    position: relative;
    top: 30px;
    left: 80px;
    color: black;
}