@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Noto Sans;
    background-color: hsl(227, 75%, 14%);
    
}




#ext button{
   margin-left: 370px;
   margin-top: 20px;
    width: 1100px;
    height: 70px;
    background-color:hsl(225, 23%, 24%);
    border-radius: 8px;
    border: none;
    position: relative;
}

#ext img{
    position: relative;
    top: 13px;
    right: 430px;
}

#ext h1{
    position: relative;
    color: hsl(0, 0%, 93%);
    right: 400px;
    bottom: 43px;
}

#ext #bt2{
    position: relative;
    left: 1000px;
    width: 60px;
    height: 50px;
    bottom: 100px;
    border-radius: 12px;
    border: none;
    background-color:  hsl(227, 75%, 14%);
}

#ext #bt2 img{
    position: relative;
   right: 1px;
    width: 30px;
    margin-bottom: 50px;
}

#dv h1{
    position: relative;
    left: 350px;
    bottom: 50px;
    color:hsl(0, 0%, 93%);
}

#buttons button{
    position: relative;
    left: 1350px;
    bottom: 90px;
    border-radius: 24px;
    border: none;
    margin: 2px;
    cursor: pointer;
    width: 50px;
    height: 30px;
}

#grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    max-width: 900px;
    margin: auto;
    position: relative;
    right: 140px;
    bottom: 70px;
}

.ext-card{
    background-color: hsl(226, 25%, 17%);
    height: 200px;
    width: 400px;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 16px;
}

#grid #mg1{
    position: relative;
    right: 150px;
    top: 15px;
}

#txt1 h2{
    position: relative;
    bottom: 60px;
    right: 20px;
    font-size: 16px;
}
#txt1 button{
    background-color:hsl(226, 25%,17%);
    width: 100px;
    height: 40px;
    border-radius: 29px;
    position: relative;
    font-size: 16px;
    font-weight: 900;
    color: hsl(0, 0%, 78%);
    bottom: 30px;
    right: 100px;
}

#grid #mg2{
    position: relative;
    right: 150px;
    top: 15px;
}

#txt2 h2{
    position: relative;
    bottom: 60px;
    right: 20px;
    font-size: 16px;
}
#txt2 button{
    background-color:hsl(226, 25%,17%);
    width: 100px;
    height: 40px;
    border-radius: 29px;
    position: relative;
    font-size: 16px;
    font-weight: 900;
    color: hsl(0, 0%, 78%);
    bottom: 30px;
    right: 100px;
}

#grid #mg3{
    position: relative;
    right: 150px;
    top: 15px;
}

#txt3 h2{
    position: relative;
    bottom: 70px;
    right: 20px;
    font-size: 16px;
}
#txt3 button{
    background-color:hsl(226, 25%,17%);
    width: 100px;
    height: 40px;
    border-radius: 29px;
    position: relative;
    font-size: 16px;
    font-weight: 900;
    color: hsl(0, 0%, 78%);
    bottom: 30px;
    right: 100px;
}

#grid #mg4{
    position: relative;
    right: 150px;
    top: 15px;
}
#txt4 h2{
    position: relative;
    bottom: 70px;
    right: 20px;
    font-size: 16px;
}
#txt4 button{
    background-color:hsl(226, 25%,17%);
    width: 100px;
    height: 40px;
    border-radius: 29px;
    position: relative;
    font-size: 16px;
    font-weight: 900;
    color: hsl(0, 0%, 78%);
    bottom: 30px;
    right: 135px;
}
#grid #mg5{
    position: relative;
    right: 150px;
    top: 15px;
}

#txt5 h2{
    position: relative;
    bottom: 70px;
    right: 20px;
    font-size: 16px;
}
#txt5 button{
    background-color:hsl(226, 25%,17%);
    width: 100px;
    height: 40px;
    border-radius: 29px;
    position: relative;
    font-size: 16px;
    font-weight: 900;
    color: hsl(0, 0%, 78%);
    bottom: 30px;
   right: 100px;
}
#grid #mg6{
    position: relative;
    right: 150px;
    top: 15px;
}

#txt6 h2{
    position: relative;
    bottom: 70px;
    right: 20px;
    font-size: 16px;
}
#txt6 button{
    background-color:hsl(226, 25%,17%);
    width: 100px;
    height: 40px;
    border-radius: 29px;
    position: relative;
    font-size: 16px;
    font-weight: 900;
    color: hsl(0, 0%, 78%);
    bottom: 30px;
    right: 100px;
}
#grid #mg7{
    position: relative;
    right: 150px;
    top: 15px;
}

#txt7 h2{
    position: relative;
    bottom: 70px;
    right: 20px;
    font-size: 16px;
}
#txt7 button{
    background-color:hsl(226, 25%,17%);
    width: 100px;
    height: 40px;
    border-radius: 29px;
    position: relative;
    font-size: 16px;
    font-weight: 900;
    color: hsl(0, 0%, 78%);
    bottom: 50px;
    right: 100px;
}
#grid #mg8{
    position: relative;
    right: 150px;
    top: 15px;
}

#txt8 h2{
    position: relative;
    bottom: 70px;
    right: 20px;
    font-size: 16px;
}
#txt8 button{
    background-color:hsl(226, 25%,17%);
    width: 100px;
    height: 40px;
    border-radius: 29px;
    position: relative;
    font-size: 16px;
    font-weight: 900;
    color: hsl(0, 0%, 78%);
    bottom: 30px;
    right: 100px;
}
#grid #mg9{
    position: relative;
    right: 150px;
    top: 15px;
}

#txt9 h2{
    position: relative;
    bottom: 70px;
    right: 20px;
    font-size: 16px;
}
#txt9 button{
    background-color:hsl(226, 25%,17%);
    width: 100px;
    height: 40px;
    border-radius: 29px;
    position: relative;
    font-size: 16px;
    font-weight: 900;
    color: hsl(0, 0%, 78%);
    bottom: 30px;
    right: 100px;
}
#grid #mg10{
    position: relative;
    right: 150px;
    top: 15px;
}

#txt10 h2{
    position: relative;
    bottom: 70px;
    right: 20px;
    font-size: 16px;
}
#txt10 button{
    background-color:hsl(226, 25%,17%);
    width: 100px;
    height: 40px;
    border-radius: 29px;
    position: relative;
    font-size: 16px;
    font-weight: 900;
    color: hsl(0, 0%, 78%);
    bottom: 30px;
    right: 100px;
}
#grid #mg11{
    position: relative;
    right: 150px;
    top: 15px;
}

#txt11 h2{
    position: relative;
    bottom: 70px;
    right: 20px;
    font-size: 16px;
}
#txt11 button{
    background-color:hsl(226, 25%,17%);
    width: 100px;
    height: 40px;
    border-radius: 29px;
    position: relative;
    font-size: 16px;
    font-weight: 900;
    color: hsl(0, 0%, 78%);
    bottom: 30px;
    right: 100px;
}

#grid #mg12{
    position: relative;
    right: 150px;
    top: 15px;
}

#txt12 h2{
    position: relative;
    bottom: 70px;
    right: 20px;
    font-size: 16px;
}
#txt12 button{
    background-color:hsl(226, 25%,17%);
    width: 100px;
    height: 40px;
    border-radius: 29px;
    position: relative;
    font-size: 16px;
    font-weight: 900;
    color: hsl(0, 0%, 78%);
    bottom: 30px;
    right: 100px;
}
p{
    font-weight: 500;
    color: hsl(0, 0%, 78%);
    position: relative;
    bottom: 70px;
    left: 35px;
}
h2{
    font-weight: 700;
    font-size: 28px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 20px;
}

 .switch  input{
    display: none;
} 
.slider{
    position:absolute;
    cursor: pointer;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #e74c3c; 
    transition: 0.3s;
    border-radius: 30px;
}

.slider:before{
    content: "";
    position: absolute;
    width: 20px;
    height: 21px;
    left: 3px;
    bottom: 0px;
    background-color: white;
    border-radius: 30px;
    transition: 0.3s;

}

input:checked + .slider{
    background-color: #27ae60;
}

input:checked + .slider:before{
    transform: translateX(50px);
}
.switch{
    display: inline-block;
    position: relative;
    bottom: 20px;
    left: 95px;
}
