body{
    background-color: wheat;
      height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    background-color: rgb(56, 145, 131);
    text-align: center;
    border: 6px solid red;
    border-radius: 13px;
    height: 500px;
    width: 300px;
    border-image: linear-gradient(to right, red, blue) 1
}

div ul{
   position: relative;
  top: 1%; 
  left: -10px;
  margin-top: 10px;
    line-height: 1.7;
    font-size: 21px;
    font-weight:900 ;
    color: black;
    padding-left: 0; 
  list-style-position: inside; 
    
}

 div h1{
   display: inline;
    color: rgb(40, 18, 166);
    font-weight: 900;
    font-size: 40px;
    font-family:  'Bangers', cursive;
    font-style: oblique;
 }

 #btn1{
    margin: 17px;
    width: 100px;
    color: rgb(40, 18, 166);
    font-weight: 700;
    font-size: 17px;
      border-radius: 12px;
      border: none;
 }
 #btn1:hover{
    border: none;
    transition: 1s;
    background-color: red;
    
 }


  #btn2{
   border-radius: 12px;
   border: none;
    margin: 17px;
    width: 120px;
    height: 25px;
    color: green;
    font-weight: 700;
    font-size: 13px;
    animation-name: btn1;
    
 }



 #btn2:hover{
    border: none;
    transition: 1s;
    background-color: black;
 }