/* აქ body გავსტილე და უკანა მხრის ფერად დავაყენე იასამნისფერი */
body{
    background-color: blueviolet;
}

/* აქ კი დავიწყე frm1 გასტილვა id ით მივანიჭე უკანა მხრის ფერი ტექსტის განლაგება საზღვრის ფერი სისქე და ა.შ */
#frm1{
    background-color: aqua;
    text-align: center;
    border: 6px solid black;
    width: 500px;
    border-radius: 7px;
    padding-block-start: 20px;
    padding-bottom: 30px;
    
}


/* აქ კი გავსტილე txt   id  გამოყენებით  გავუწერე საზღვრის სიმრგვალე  გადმოვიტანე ცენტრში და gap ით გავაკეთ დაშორება */
#txt{
    border-radius: 6px;
    display: flex;
    gap: 10px;
    justify-content: center;
   
}


/* აქ კი გავსტილე txt2   id  გამოყენებით  გავუწერე საზღვრის სიმრგვალე  გადმოვიტანე ცენტრში და gap ით გავაკეთ დაშორება */
#txt2{
    border-radius: 6px;
    display: flex;
    gap: 10px;
    justify-content: center;
}


/* აქ კი გავსტილე dt   id  გამოყენებით გავუწერე საზღვრის სიმრგვალე*/
 #dt{
    border-radius: 6px;  
}


/* აქ კი გავსტილე pass   id  გამოყენებით გავუწერე საზღვრის სიმრგვალე*/
 #pass{
    border-radius: 6px;
} 


/* აქ კი გავსტილე bt   id გამოყენებით  გავუწერე hover ანუ მომხმარებელი როცა შეეხება შეიცვლის ფერს ასევე გავუწერე ტექსტის ფერი ტექსტის უკანა ფერი ანუ დაჭერისას რაფერად შეიცვლება და გავუწერე trabsition 4s ანუ 4 წამში შეეცვლება ჩმს ღილაკს ფერი */ 
#bt :hover{
    color: white;
    background-color: black;
    transition: 4s;

}

/* აქ კი გავსტილე main  id გამოყენებით გავუწერე ტექსტის განლაგება, გავუწერე დაშრება კუთხეებს და საზღვრებს შორის და გავუწერე  დაშორება შიგთავვსა და საზღვარს შორის  */
#main{
    display: flex;
    justify-content: center;
    justify-items: end;
    margin: auto;
    padding: 150px;

}