@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac+Western:wght@100..900&display=swap')


/* @theme {
  --font-family: "Noto Sans Syriac Western", sans-serif;
} */
