@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* აქ body გავუწერე უკანა მხრის ფერად violet და მთლიანი ეკრანის უკანა ფერი იქნება violet ფერი */
body{
    background-color: violet;
}


.name {
    color:violet;
}

ul {
    list-style:none;
    display:flex;
    gap: 20px
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    background-color:rgb(255, 255, 255);
}

nav a {
    font-size:large;
    text-decoration:none;
    color:violet;
    font-weight: bold;
}


/* აქ აიდით გამოვიძახე ელემენტი და გავუწერე კუთნილებები */
#first{
    /* შევუქმენი საზღვარი სისქე გავუწერე 6 პიქსელი და ფერად გავუწერე შავი ფერი */
   border: 6px solid black;

   /* აქ კი საზღვრის სიმრგვალე გავუწერე 6 პიქსელი და 6 ოიქსელით მომგრვალდება კუთხეები */
   border-radius: 6px;

   /* აქ გავუქრე საზღარი */
   border: none;
   /* აქ გავუწერე ჩრდილები და ჩრდილის ფერი */
   box-shadow: 0px 20px 30px red;

   /* აქ სიგანე გავუწერე */
    width: 750px;

    /* აქ სიმაღლე გავუწერე */
    height: 670px;

    /* აქ კი გავუწერე ovwerflow hidden ანუ თ რაიმე ელემენტი გადაკვეთავდა საზღარს ეგ დაიმალებოდა */
    overflow: hidden;
}

/* აქ დავიწყე უკვე ფტოს გასტილვა აიდიდს საშუალებით */
#img1 img{
    margin-top: 20px;
    /* აქ გავუწერე სიგანე */
    width: 500px;
    /* აქ კი გავუწერე სიმაღლე */
    height: 350px;
    /* აქ კი გავუკეთე საზღვრების მომრგვალება */
    border-radius: 6px;

}

/* აქ დავიწყე უკვე h1 გასტილვა აიდით */
#text1 {
    /* აქ გავუწერე ტექსტის ფერი */
    color: skyblue;
    /* აქ გავუწერე დაშორება ზემოდან -350 პიქსელი */
    margin-top: -350px;
    /* აქ ტექსტის სტილი გავუკეთე */
    font-family:Inter;
    /* აქ კი ტექსტი გადავიტანე ცენტრში */
    text-align: center;
}

/* აქ უკვე ვიწყებ პარაგრაფის გასტილვას აიდით */
#text2{
    /* აქ გავუწერე ზემოდან დაშორება 270 პიქსელი */
    padding-top: 300px;
    /* აქ ტექსტის სტილი */
    font-family: Roboto;
    /* აქ ტექსტის სიმუქე/სისქე */
    font-weight: 700;
    /* აქ კი ტექსტის ზომა  */
    font-size: 23px;
    /* აქ კი ტექსტი გადმოვიტანე ცენტრში */
    text-align: center;
}
#main{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}









