body{
    margin: 0px;
    padding: 0px;
}

#home{
    background-color: silver;
    height: 90px;
   
}

#home img{
    width: 90px;
    display: flex;
    justify-content: right 70px;
}

nav{
    
    display: flex;
    gap: 70px;
    justify-content: center;
    
}