body{
    margin: 0px;
    padding: 0px;
}

#home{
    background-color: silver;
    height: 120px;
}

#home img{
    width: 110px;
    display: flex;
    justify-content: right 70px;
    
}

#home a{
    text-decoration: none;
    margin-top: -70px;
    font-size: xx-large;
}

nav{
    display: flex;
    gap: 70px;
    justify-content: center;
}