 /* .cls{
    box-sizing: border-box;
    text-align: center;
    color: white;
    width: 200px;
    height: 200px;

    border: 1px solid black;
    box-shadow: 10px 10px 10px rgb(197, 197, 197);
    border-radius: 8px;

    background-image: url(dsc04690.webp);
    background-size: cover;
    background-position: center;
}

.text-section{
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.477); 

} 


.bmw{
    box-sizing: border-box;
    text-align: center;
    color: white;
    width: 200px;
    height: 200px;

    border: 1px solid black;
    box-shadow: 10px 10px 10px rgb(197, 197, 197);
    border-radius: 8px;

    background-image: url(7652D55F-0508-4918-8C20-766689FCCC41.webp);
    background-size: cover;
    background-position: center;
}

.text{
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.477); 

} 


.G-class{
    box-sizing: border-box;
    text-align: center;
    color: white;
    width: 200px;
    height: 200px;

    border: 1px solid black;
    box-shadow: 10px 10px 10px rgb(197, 197, 197);
    border-radius: 8px;

    background-image: url(394A6194-scaled.webp);
    background-size: cover;
    background-position: center;
} */

/* 
#names{
    list-style-type:georgian;
    text-align: center;
    list-style-position: inside;
} */



#hl{
    text-align: center;
}
