/* 1) ყველაფერი ახსენით კომენტარების სახით */

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
/* აქ მოვნიშნეთ ყველა ელემენტი */
*{ 
    /* გავუწერეთ  შიგნით დაშორება 0 პიქსელი */
    padding:0px;
/* გავუწერეთ გარედან დაშორება 0 პიქსელი */
    margin:0px;
    box-sizing: border-box;
    /* გავუწერეთ ტექსტის სტილი */
    font-family: "Karla", sans-serif;
}

body{
    /* აქ გავუწერეთ სიმაღლე */
    height:100vh;
    /* აქ გამოვიყენეთ flex */
    display: flex;
    /* და ფლექსით ელემენტები ერთმანეთის ქვეშ იქნება */
    flex-direction: column;
    /* აქაც გამოვიყენეთ ფლექსი და ის რაც მონიშნულია გადავა შუაში  */
    justify-content: center;
    /* აქაც გამოვიყენეთ ტექსტის განლაგება და რაც მონიშნულია ის გადავა y ღერძზე */
    align-items: center;
    /* აქ კი გავუწერეთ უკანა მხრის ფერი */
    background-color: hsl(204, 43%, 93%);
}
/* აქ გამოვიძახეთ ის დივი რომელსაც ვსტილავთ კლასსის მეშვეობით*/
.mainDiv{
    /* აქ გავუწერეთ საზღვრების სირგვალე */
    border-radius: 5px;
    /* და აქ გავუწერეთ თუ რაიმე გადავა საზღვრიდან რომ დაიმალოს */
    overflow: hidden;
}
/* აქ გამოვიძახეთ ის დივი რომელსაც ვსტილავთ კლასსის მეშვეობით*/
.firstDiv{
    /* აქ გავუწერეთ უკანა მხრის ფერი */
    background-color: white;
    /* აქ გავუწერეთ სიმაღლე */
    height:200px;
    /* და აქ კი გავუწერეთ padding ანუ ელემენტების დაშორება */
    padding: 30px;
}
/* აქ გამოვიძახეთ ის დივი რომელსაც ვსტილავთ კლასსის მეშვეობით*/
.paragraph1{
    /* აქ მივანიჭეთ ფერი */
    color:#26a8a6;
    /* აქ ტექსტის სისქე მივანიჭეთ */
    font-weight: 700;
    /* აქ ტექსტის ზომა მივანიჭეთ */
    font-size: 18px;
    /* აქ მივანიჭეთ დაშორება 25 პიქსელი */
    margin-bottom: 25px;
}
/* აქ გამოვიძახეთ ის დივი რომელსაც ვსტილავთ კლასსის მეშვეობით*/
.paragraph2{
    /* მივანიჭეთ ფერი */
    color:#BEDF31;
    /* მივანიჭეთ ტექსტის სისქე */
    font-weight: 500;
    /* დავაშორეთ დაბლიდან 15პიქსელით */
    margin-bottom: 15px;
}
/* აქ გამოვიძახეთ ის დივი რომელსაც ვსტილავთ კლასსის მეშვეობით*/
.paragraph3{
    /* აქ მივანიჭეთ ფერი პარაგრაფს */
    color:hsl(218, 22%, 67%);
}
/* აქ გამოვიძახეთ ის დივი რომელსაც ვსტილავთ კლასსის მეშვეობით*/
.twoDivsTogether{
    /* აქ გავსტილეთ ფლექსის მეშვეობით */
    display: flex;
    /* აქ გავუწერეთ  განლაგება და აქ ელემენტები ერთმანეთს გვერდით იქნება */
    flex-direction: row;
}
/* აქ გამოვიძახეთ ის დივი რომელსაც ვსტილავთ კლასსის მეშვეობით*/
.first{
    /* აქ გავუწერეთ უკანა მხრის ფერი */
    background-color: #2BB4B1;
    /* display: flex;
    flex-direction: column; */
    /* აქ დაშორება გავუწერეთ 30 პიქსელი */
    padding: 30px;
    /* და აქ სიგანე მივეცით 50% */
    width:50%;
}
/* აქ გამოვიძახეთ ის დივი რომელსაც ვსტილავთ კლასსის მეშვეობით*/
.paragraph4{
    /* აქ პარაგრაფს მივანიჭეთ ფერი */
    color:white;
    /* ტექსტის სისქე მივანიჭეთ 700 პიქსელი */
    font-weight: 700;
    /* და აქედან დაბლიდან დავაშორეთ 15 პიქსელით */
    margin-bottom: 15px;
}
/* აქ გამოვიძახეთ ის დივი რომელსაც ვსტილავთ კლასსის მეშვეობით*/
h2{ 
    /* აქ h2 მივანიჭეთ ფერი */
    color:white;
    /* აქ დაბლიდან დავაშორეთ */
    margin-bottom: 10px;
}
/* აქ გამოვიძახეთ ის დივი რომელსაც ვსტილავთ კლასსის მეშვეობით*/
h2 span{
    /* აქ მივანიჭეთ h2 მეორე ელემენტს ფერი */
    color:hsl(179, 61%, 52%);
    /* აქ ტექსტის ზომა მივანიჭეთ */
    font-size: 14px;
    /* აქ კი გავუკეთეთ განლაგება */
    vertical-align: middle;
}
/* აქ გამოვიძახეთ ის დივი რომელსაც ვსტილავთ კლასსის მეშვეობით*/
.paragraph5{
    /* აქ პარაგრაფს მივანიჭეთ ფერი */
    color:white;
    /* აქ ტექსტის ზომა გავუწერეთ 14 პიქსელი */
    font-size: 14px;
    /* აქ კი დაბლიდან დავაშორეთ 25 პიქსელით */
    margin-bottom: 25px;
}
/* აქ გამოვიძახეთ ის დივი რომელსაც ვსტილავთ კლასსის მეშვეობით*/
button{
    /* აქ ღილაკს უკანა მხარის ფერი მივანიჭეთ */
    background-color: #BEDF31;
    /* აქ გავუწერეთ რომ აღარ ქონდეს საზღარი */
    border:none;
    /* აქ სიგანე გავუწერეთ */
    width:100%;
    /* აქ დაშორება გავუწერეთ */
    padding: 13px;
    /* აქ საზღვრის სიმრგვალე გავუწერეთ */
    border-radius: 5px;
    /* აქ ფერი მივანიჭეთ */
    color:white;
    /* აქ სისქე მივანიჭეთ */
    font-weight: 700;
}
/* აქ გამოვიძახეთ ის დივი რომელსაც ვსტილავთ კლასსის მეშვეობით*/
.second{
    /* აქ მივანიჭეთ უკანა მხარის ფერი */
    background-color: #49BEBD;
    /* აქ დაშორება გავუწერეთ 30 პიქსელით */
    padding: 30px;
    /* აქ სიგანე გავუწერეთ 50% ით */
    width:50%;
}
/* აქ გამოვიძახეთ ის დივი რომელსაც ვსტილავთ კლასსის მეშვეობით*/
.paragraph6{
    /* აქ პარაგრაფს გავუწერეთ ფერი */
    color:hsl(204, 43%, 93%);
    /* აქ ტექსტის ზომა გავუწერეთ 14 პიქსელი */
    font-size: 14px;
    /* აქ გავუწერეთ მარგინი და ელემენს ქვედა ზღვარი კი ექნება 3 პიქსელი ანუ მაგას და სხვა ქვეშ მყოფ ელემენტს დაშორება 3 პიქსელი ექნებათ */
    margin-bottom: 3px;
}