/* body{
    
} */


#main{
    display: flex;
    flex-direction: row;
    gap:60px;
    justify-content: center;
    align-items: center;
}

.TCP{
    border: 2px solid red;
}

.UDP{
    border: 2px solid black;
}

.TLS{
    border: 2px solid blue;
}