body {
  background-image: url('https://previews.123rf.com/images/sergeymastepanov/sergeymastepanov1702/sergeymastepanov170200075/72172696-rock-paper-scissors-hand-game-pop-art-style-vector.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.btn-box {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

button {
  color: white;
  background-color: red;
  
  font-size: xx-large;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  top: 307px;
  left: 50px;
  transition: 0.3s ease;
}

button:hover{
  transition: 0.7s ease;
  background-color: gray;
  color:black;
}

#resu {
  font-family:sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-top: 340px;
   color: #FFEB3B;
    text-shadow: 1px 1px 4px black;
  /* background: linear-gradient(to right, #00f, #351f35, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  
}

h1 {
  font-size: 72px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-weight:bold;
  margin-top: 40px;
  position: relative;
  right: 60px;
  font-family: 'Bangers', cursive;
  background: linear-gradient(to right, rgb(0, 0, 0), #800080, #088808);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: softGlow 2s infinite;
  letter-spacing: 4px;
text-transform: uppercase;

}

@keyframes softGlow {
  0% { text-shadow: 0 0 2px #fff, 0 0 5px #aa00ff; }
  50% { text-shadow: 0 0 8px #aa00ff; }
  100% { text-shadow: 0 0 2px #fff, 0 0 5px #aa00ff; }
}


