/* @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');




@media (max-width:768px){
    
    *{  
        position: relative;
        margin: 0px;
        padding: 0px;
        font-family:Space Mono;
        font-weight: 700;
        
    }
    body{
        background-color: hsl(185, 41%, 84%);
    }
    #fr{
        display: flex;
        justify-content: center;
        text-align: center;
       
    }

    #fr h4{
        position: relative;
        top: 30px;
        color: hsl(183, 100%, 15%);
        font-size: 21px;
    }

    #sec{
        position: relative;
        top: 90px;
        border: 2px solid white;
        border-radius: 15px;
        height: 1368px;
        width: 768px;
        background-color: white;
    }

    #sec h3{
        display: inline;
        position: relative;
        top: 0px;
        left: 190px;
        color:  hsl(186, 14%, 43%);
    }


    #sec img{
        position: relative;
       display: flex;
       left: 17px;
       top: 15px ;
       
       
       
    }

    #sec button{
        position: relative;
        border:none;
        border-radius: 5px;
        top: 60px;
        right: 20px;
        left: 150px;
        width: 200px;
        height: 50px;
    }

    #sec h1{
        position: relative;
        bottom: 13px;
        
        left: 40px;
        color: hsl(183, 100%, 15%);
        font-size: 25px;
    }


    #th{
        
        position: relative;
        display: flex;
        flex-direction: row;
        top: 80px;
    }

    #th #bt1{
        position: relative;
        background-color:  hsl(183, 100%, 15%);
        color: white;
        top: 80px;
        left: 80px;
        width: 150px;
    }

      #th #bt1 h1{
        top: 1px;
        left: 8px;
        color: hsl(0, 100%, 100%);
    }


    #th #bt2{
        background-color:  hsl(183, 100%, 15%);
        top: 79px;
        right: 90px;
        left: 90px;
        width: 150px;
    }

    #bt2 h1{
        left: 8px;
        top: 1px;
        color:  hsl(0, 100%, 100%);
    }

    #th #bt3{
        background-color:  hsl(183, 100%, 15%);
        color: red;
        top: 150px;
        left: -20px;
        width: 150px;
    }


    #bt3 h1{
        left: 8px;
        top: 1px;
        color:  hsl(0, 100%, 100%);
    }

    #th #bt4{
        background-color:  hsl(172, 67%, 45%);
        color: white;
        top: 150px;
        left: -255px;
        width: 150px;
    }

    #bt4 #h2{
        left: 8px;
        top: 1px;
        color:  hsl(0, 100%, 100%);
    }

    #th #bt5{
         background-color:  hsl(183, 100%, 15%);
        top: 220px;
        left: -365px;
        width: 150px;
    }

    #bt5 h1{
        left: 8px;
        top: 1px;
        color:  hsl(0, 100%, 100%);
    }

    #th #bt6{
        position: relative;
        top: 270px;
        left: 350px;
        width: 150px;
    }

    #bt6 h1{
        position: relative;
        top: 1px;
        text-align: center;
        left: -1px;
        color: hsl(183, 100%, 15%);
    }

       #nm h4{
        position: relative;
        top: 302px;
        left: 180px;
        color:  hsl(186, 14%, 43%);
    }

    #nm button{
        position: relative;
        top: 307px;
        left: 188px;
        width: 245px;
        height: 40px;
    }

    #nm img{
        position: relative;
        width: 17px;
        top: 10px;
        left: 11px;
    }

    #nm h1{
        top: -22px;
        left: 100px;
        font-size: 30px;
        color:  hsl(183, 100%, 15%);
    }
    #btn button{
        left: 190px;
        top: 310px;
        width: 250px;
        height: 200px;
        background-color:  hsl(183, 100%, 15%);
    }

    #btn h4{
        color:hsl(189, 47%, 97%);
        font-weight: 800;
        font-size: 15px;
        right: 60px;
        bottom: 50px;
    }

    #btn span{
        right: 5px;
        color: hsl(184, 14%, 56%);
    }

    

    #btn h3{
        position: relative;
        left: -80px;
        top: -35px;
        color: hsl(189, 47%, 97%);
    }

    #amnt h1:nth-child(1){
        color: hsl(172, 67%, 45%);
        position: relative;
        top: 120px;
        left: 335px;
    }

    #amnt h1:nth-child(2){
        color: hsl(172, 67%, 45%);
        position: relative;
        top: 140px;
        left: 325px;
    }

    #btt button{
        background-color:  hsl(172, 67%, 45%);;
        left: 215px;
        top: 170px;
    }

    #btt h1{
        top: 0px;
        left: 3px;
    }



    } */






@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    font-family:Space Mono
;
    background-color: hsl(185, 41%, 84%);;
     
}

#keys button{
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

#th #keys input{
    background-color: ;
}

    
#all{
    border: 3px solid white;
    background-color: white;
    width: 700px;
    height: 360px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

#amnt {
    position: relative;
    bottom: 335px;
    left: 350px;
    background-color: hsl(183, 100%, 15%);
    display: inline-block;
    padding: 60px;
    border-radius: 10px;
    width: 220px;
    height: 240px; 
}

#amnt h1{
    color:  hsl(0, 100%, 100%);
    position: relative;
    right: 40px;
    bottom: 40px;
    font-size: 18px;
}

#amnt #tipPerPerson{
    position: absolute;
    color: hsl(172, 67%, 45%);
    left: 180px;
    font-size: 40px;
    top: -20px;
}

#amnt #prs{
    position: relative;
    left: 10px;
    color:hsl(184, 14%, 56%);
}

#amnt h2{
    font-size: 18px;
    position: relative;
    right: 35px;
    bottom: 10px;
    color: hsl(0, 100%, 100%);
}

#amnt #prs2{
    color: hsl(184, 14%, 56%);
}

#amnt #totalPerPerson{
    position: absolute;
    color: hsl(172, 67%, 45%);
    left: 180px;
    font-size: 40px;
    bottom: 2px;
}

#btt button{
    background-color: hsl(172, 67%, 45%);
    position: relative;
    border-radius: 5px;
    
    left: 430px;
    bottom: 400px;
    width: 200px;
    height: 40px;
    
}

#btt button h1{
   
    position: relative;
    bottom: 14px;
    cursor: pointer;
}

#keys button{
    background-color:hsl(183, 100%, 15%);
    color: white;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

#sec h3{
    position: relative;
    top: 17px;
    color: hsl(184, 14%, 56%);
}

#keys input{
    border-radius: 5px;
    background-color: hsl(189, 47%, 97%);
    color: red;
    border: none;
    width: 80px;
    height: 35px;
}
#bill-input input{
    margin-left: -15px;
    width: 250px;
    height: 30px;
    border-radius: 6px;
    border: none;
    background-color: hsl(189, 47%, 97%);
}


#bill-input img{
    position: relative;
    top: 3px;
    left: 25px;
    width: 10px;
}

#nm img{
    position: relative;
    left: 20px;
    top: 3px;
}

#nm input{
    margin-left: -15px;
    width: 250px;
    height: 30px;
    border-radius: 6px;
    border: none;
    background-color: hsl(189, 47%, 97%);
}

#nm h4{
    position: relative;
    top: 10px;
    left: 10px;
    color:hsl(186, 14%, 43%);
}


   
        



   
