@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body{
    background-color: hsl(204, 43%, 93%);
}
#first{
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    border: 6px solid black;
    border-radius: 6px;
    width: 650px;
    height: 550px;
}

#txt1{
   background-color: aquamarine;
    grid-column: span 2; 
    padding: 2rem;
}

#text1{
    
    padding-left: 20px;
    color:hsl(179, 62%, 43%) ;
    font-family: Karla;
    font-weight: 800;
    
}

#text2{
    padding-left: 20px;
    color:hsl(71, 73%, 54%);
    font-family: Karla;
    font-weight:500;
    
}

#text3{
    
    padding-left: 20px;
    color: hsl(218, 22%, 67%);
    font-size: large;
    font-family:Karla;
}


#text4{
    padding-left: 20px;
    display: grid;
    grid-row-start: 1;
    grid-column-end:3;
}

#Price{
    padding-right: 16px;
    font-family: Karla;
}

#acces{
    padding-right: 20px;
    font-size: larger;
    font-weight: 700;
    font-family: Karla;
}

#btn button{
    
    padding-left: 20px;
    font-family: Karla;
    font-size: large;
    font-weight: 700;
    border-radius: 6px;
    width: 220px;
    background-color:hsl(71, 73%, 54%);
}

#btn{
    padding-top: 30px;
}

#txt1{
    
}




