@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  background-color: hsl(0, 0%, 94%);
  font-family: Poppins;
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#dv1 {
  border: 2px solid red;
  background-color: hsl(0, 100%, 100%);
  border-radius: 8px;
  border-bottom-right-radius: 150px;
  border: none;
  width: 600px;
  height: 400px;
  display: flex;
  gap: 20px;
}

.input {
 position: relative;
 top: 10px;
 left: 50px;
  display: flex;
  flex-direction: column;
}

#dv1 input{
  border-radius: 8px;
  width: 90px;
  height: 50px;
  border:solid hsl(0, 1%, 44%);
}

input::placeholder{
  color:  hsl(0, 1%, 44%);
  font-size: 18px;
  font-weight: 700;
}

input {
  width: 80px;
  height: 35px;
  font-size: 16px;
  padding: 5px;
  box-sizing: border-box;
}

label{
  color:hsl(0, 1%, 44%);
  font-size: 15px;
  font-weight: 700;
}

.input img{
  position: relative;
  top: 32px;
  left: 110px;
  width: 70px;
  border-radius: 60px;
  background-color: hsl(259, 100%, 65%);
}

 hr{
  position: absolute;
  top: 250px;
  left: 35px;
  width: 820px;
  height: 2px;
 border: none;
  background-color: hsl(0, 1%, 94%);
  
}

#ymd h1{
  position: relative;
  color:  hsl(0, 0%, 0%);
  right: 3em;
  
  top: 120px;
  font-size: 80px;
  
  font-weight: bold;
  line-height: 0.3;
}

#resul h2{
  position: relative;
  top: 130px;
  right: 635px;
  line-height: 0.5;
  font-size: 57px;
  font-weight: 900;
  color: hsl(259, 100%, 65%);
}

#mg img{
  width: 70px;
  position: relative;
  top: 87px;
  left: 123px;
   border-radius: 60px;
  background-color: hsl(259, 100%, 65%);
}
